#_cm{
    position: fixed;
    background: #FFF;
    box-shadow: 2px 2px 5px -1px #333;
    border: 1px solid #DDD;
    font-family: sans-serif;
}
#_cm div{
    border-bottom: 1px solid #DDD;
    padding: 3px 0;
}
#_cm div:last-child{
    border: none;
}
#_cm button{
    display: block;
    width: 100%;
    text-align: left;
    background: #FFF;
    border: none;
    padding: 5px 10px;
}
#_cm button:hover{
    background: #82c9fc;
}
#_cm button.no-action{
    color: #999;
}
#_cm button.no-action:active{
    outline: none;
}
#_cm button.no-action:hover{
    background: initial;
}