#_cm{
    position: fixed;
    font-family: sans-serif;
}
#_cm .holder{
    background: #FFF;
    box-shadow: 2px 2px 5px -1px #333;
}
#_cm .group{
    border-bottom: 1px solid #DDD;
    padding: 3px 0;
}
#_cm .group:last-child{
    border: none;
}
#_cm button, #_cm .no-action, #_cm .parent{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: left;
    background: #FFF;
    border: none;
    padding: 5px 14px 5px 10px;
    font: inherit;
    white-space: nowrap;
}
#_cm button:hover, #_cm .parent:hover{
    background: #82c9fc;
}
#_cm .no-action{
    color: #999;
}
#_cm button.no-action:hover{
    background: initial;
}
#_cm .parent:after{
    content: "";
    position: absolute;
    right: -3px;
    top: calc(50% - 4px);
    border: solid transparent;
    border-width: 4px 6px;
    border-left-color: #333;
}
#_cm .parent .holder{
    position: absolute;
    left: 100%;
    top: 0;
    background: #FFF;
    display: none;
}
#_cm .parent:hover > div{
    display: block;
}