/* 
    Created on : 22 déc. 2015, 13:32:37
    Author     : Guillaume
*/

#ressourceList, #peopleList{
    padding: 5px;
}
#ressourceList{
    background-color: #e2bb6d;
}
#ressourceList div{
    display: inline-block;
    width: 50px;
    margin: 0 5px;
}
#ressourceList .people:after{
    content: "people";
}
#ressourceList .rock:after{
    content: "Rock";
}
#ressourceList .metal:after{
    content: "Metal Scrap";
}
#ressourceList .water:after{
    content: "Water";
}
#ressourceList .food:after{
    content: "Food";
}
#ressourceList .oil:after{
    content: "Oil";
}

#peopleList .people{
    border: 1px solid #666;
    min-width: 300px;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    float: left;
    clear: left;
}

#peopleList .people .clickable{
    cursor: pointer;
    display: inline-block;
    float: right;
}
.clickable:not(.disabled):not(.cooldown):hover{
    text-decoration: underline;
}
.clickable.disabled{
    text-decoration: line-through;
    color: #666;
}
.clickable.cooldown{
    animation-name: cooldown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 0px #333 inset;
}
@keyframes cooldown{
    0%{
        box-shadow: 0 0 0 calc(.5em + 1px) #555 inset;
    }
    to{
        box-shadow: 0 0 0 0 #555 inset;
    }
}