body{
    background-color: #6cc;
}

div{
    border: orange outset 2px;
    background: #bee;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#retour{
    position: absolute;
    bottom: 20px;
    left: 20px;
}