body, html{
    background: #333;
    margin: 0;
}

#holder{
    width: 500px;
    height: 700px;
    margin: 20px auto 0;
    position: absolute;
    right: 0;
    left: 0;
    cursor: none;
    background: #000;
}
#holder canvas{
    position: absolute;
}