body, html{
    background: #333;
    margin: 0;
}

#holder{
    width: 500px;
    height: 700px;
    margin: 20px auto 0;
    position: absolute;
    right: 0;
    left: 0;
    cursor: none;
    background: #000;
    box-shadow: 0 0 60px #000;
    overflow: hidden;
}
#holder canvas{
    position: absolute;
}
#fps{
    color: #FFF;
}
#loading{
    position: absolute;
    top: 325px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #FFF, 1px 1px 0 #FFF;
    
    transition: left .5s cubic-bezier(0.46, -0.56, 0.78, 0.21);
}
#loading.hidden{
    left: 110%;
}
