body{
	background : #888;
	margin : 0;
}
#c{
	position : relative;
	background : url(res/title.png);
	width : 800px;
	height : 608px;
    margin: 10px auto 0;
}
#c canvas{
	position : absolute;
	float : left;
}

#loading{
	top: 445px;
	left: 400px;
	position: relative;
}