body{
    background-color: white;
}

div{
    background-color: #DFF;
    border: 1px solid teal;
    margin: 20px;
    padding: 10px;
    color: #027;
}

a{
    text-decoration: underline;
    color: navy;
}

a:hover{
    color: orange;
}

#spacer{
    padding-right: 30px;
}

#retour{
    position: absolute;
    bottom: 20px;
    left: 20px;
}